.button {
	background-image: url(./image/button.png);  
	font-size: 25px;
	color: white;
	text-align:center;
	font-weight:bold;
	line-height:62px;
	height: 64px;
	width: 125px;
	position: relative;
	/*cursor:pointer;*/
	-moz-transition: all 0.5s; 
	-webkit-transition: all 0.5s;  
	-ms-transition: all 0.5s;  
	-o-transition: all 0.5s;  
	transition-timing-function: ease-out;
	transition: all 0.5s;  
	float:right;
	margin:10px;

}
/* check browser support
.buttonEnable.button:hover {
	-moz-transform: scale(1.05);
 	-webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
*/
.buttonHide{
	display:none;
}

.buttonDisable{
	background-image: url(./image/button_disable.png);  
}
#buttonWraper{
	width:600px;
	height:150px;
	position:absolute;
	top:550px;
	left:350px;
	z-index:20;
}

#raise_slider{
	width:111px;
	height:556px;
	top:-556px;
	position:absolute;
	background-image: url(./image/all_in_slider_bg.png);
	display: none;
}
#raise_slider_button{
	width:76px;
	height:128px;
	background-image: url(./image/vertical_silder_button.png);
	position:absolute;
	left:17px;
}

/*
#btFold {
	top:560px;
	left:350px;
}
#btCall {
	top:560px;
	left:500px;
}
#btRaise {
	top:560px;
	left:650px;
}
#btAllin {
	top:560px;
	left:800px;
}

#btCheck {
	top:560px;
	left:950px;
}
*/
.checkButton {
	/*position:absolute;
	width:185px;
	height:67px;
	font-weight:bold;
	left:47px;
	top:16px;
	background:url(./image/button.png);	*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #ffffff;
	padding: 10px 0px;
	text-align:center;
	line-height:29px;
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#42aaff),
		to(#003366));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #003366;
	-moz-box-shadow:
		5px 6px 3px rgba(000,000,000,0.6),
		inset 0px 0px 0px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		5px 6px 3px rgba(000,000,000,0.6),
		inset 0px 0px 0px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
	position: absolute;
	cursor: pointer;
	width: 168px;
	height:40px;
	top:10px;
/*	font-weight: bolder;*/
}
.checkButton:active {
	-moz-box-shadow:
		5px 6px 3px rgba(000,000,000,0.0),
		inset 0px 0px 0px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		5px 6px 3px rgba(000,000,000,0.0),
		inset 0px 0px 0px rgba(255,255,255,0.6);
	/*
	margin-top: 5px;
	margin-left: 5px;
	*/
}
.autoButtonHide{
	display:none;
}

.noCheck{
	background:url(./image/nocheck.png);
}
.check{
	background:url(./image/check.png);
}
#btAutoCheck{
	left:48px;
}
#btAutoCheckOrFold{
	left:240px;
}
#btAutoCallAny{
	left:432px;
}
#cbAutoCheck{
	position:absolute;
	width:27px;
	height:27px;
	left:17px;
	top:17px;
}
#lbAutoCheck{
	position:absolute;
	color:#fff;
	left:65px;
	top:16px;
	font-size:25px;
}
#cbAutoCheckOrFold{
	position:absolute;
	width:27px;
	height:27px;
	left:17px;
	top:17px;
}
#lbAutoCheckOrFold{
	position:absolute;
	color:#fff;
	left:55px;
	top:16px;
	font-size:22px;
}
#cbAutoCallAny{
	position:absolute;
	width:27px;
	height:27px;
	left:17px;
	top:17px;
}
#lbAutoCallAny{
	position:absolute;
	color:#fff;
	left:65px;
	top:16px;
	font-size:25px;
}


