.button {
	background-image: url(./image/button.png);  
	font-size: 25px;
	color: white;
	text-align:center;
	font-weight:bold;
	line-height:62px;
	height: 64px;
	width: 125px;
	position: relative;
	/*cursor:pointer;*/
	-moz-transition: all 0.5s; 
	-webkit-transition: all 0.5s;  
	-ms-transition: all 0.5s;  
	-o-transition: all 0.5s;  
	transition-timing-function: ease-out;
	transition: all 0.5s;  
	float:right;
	margin:10px;

}
/* check browser support
.buttonEnable.button:hover {
	-moz-transform: scale(1.05);
 	-webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
*/
.buttonHide{
	display:none;
}

.buttonDisable{
	background-image: url(./image/button_disable.png);  
}
#buttonWraper{
	width:600px;
	height:150px;
	position:absolute;
	top:550px;
	left:350px;
	z-index:20;
}

#raise_slider{
	width:111px;
	height:556px;
	top:-556px;
	position:absolute;
	background-image: url(./image/all_in_slider_bg.png);
	display: none;
}
#raise_slider_button{
	width:76px;
	height:128px;
	background-image: url(./image/vertical_silder_button.png);
	position:absolute;
	left:17px;
}
/*
#btFold {
	top:560px;
	left:350px;
}
#btCall {
	top:560px;
	left:500px;
}
#btRaise {
	top:560px;
	left:650px;
}
#btAllin {
	top:560px;
	left:800px;
}

#btCheck {
	top:560px;
	left:950px;
}
*/
