
#sit_down_dialog{
	#background-color: #6495ed;	
	background-image: url(./image/comFrame.png);
	background-position: left;
	#background: -moz-linear-gradient(top, #6495ed, #3112a3);
	#background: -webkit-gradient(linear, left top, left bottom, from(#6495ed), to(#3112a3));
	#-ms-filter: progid:DXImageTransform.Microsoft.gradient(
	#                startColorstr=#6495ed, endColorstr=#3112a3, GradientType=1);
	#filter: progid:DXImageTransform.Microsoft.Gradient(
	#				StartColorStr="#6495ed", EndColorStr="#3112a3", GradientType=1);
	#filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6495ed', endColorstr='#3112a3');
		
	color: #000000;
	padding: 15px;
	min-height: 276px;
	width: 558px;

	position: absolute;
	top: 153px;
	left: 169px;
	display: none;

	filter: alpha(opacity=100);
	-moz-opacity:1.0;
	opacity: 1.0;
	z-index:10;
}

#testdiv { 
	width: 360px;
	height: 130px;
	top: 71px;
	left: 91px;
	position: absolute;
}
#submitButton { 
	background-image: url(./image/sure.png); 
	position: absolute; 
	width: 79px; height:41px; 
	top: 174px; left: 389px;
}
#submitButton:hover { background-image: url(./image/sure-hover.png);}

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; top: -14px; width: 63px; height: 40px; cursor: default; background-image: url(./image/slider.png);}

.ui-slider-horizontal { height: 11px; left: 49px; top: 52px; background-image: url(./image/sliderbar.png)}
.ui-slider-horizontal .ui-slider-handle { margin-left: -.6em; }

.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }



