#sliderbar_dialog{
	background-image: url(./image/sit_down_dialog.png);
	padding: 15px;
	top: 113px;
	left: 175px;
	height: 360px;
	width: 606px;
	position: absolute;
	opacity: 1.0;
	z-index:10;
}

#testdiv { 
	width: 444px;
	height: 170px;
	top: 103px;
	left: 91px;
	position: absolute;
	color: #FFFFFF;
	font-size:20px;
}
#sliderbar_title {
	width: 459px;
	height:52px;
	top:47px;
	left:87px;
	position: absolute;
	text-align: center;
	font-size:33px;
	color: #FFFFFF;
}
.GeneralBtn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	color: #ffffff;
	padding: 10px 0px;
	background: -moz-linear-gradient(
		top,
		#42aaff 0%,
		#003366);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#42aaff),
		to(#003366));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #003366;
	-moz-box-shadow:
		5px 6px 3px rgba(000,000,000,0.6),
		inset 0px 0px 0px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		5px 6px 3px rgba(000,000,000,0.6),
		inset 0px 0px 0px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);

	position: absolute;
	cursor: pointer;
/*	font-weight: bolder;*/
}
.GeneralBtn:active{
	-moz-box-shadow:
		5px 6px 3px rgba(000,000,000,0.0),
		inset 0px 0px 0px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		5px 6px 3px rgba(000,000,000,0.0),
		inset 0px 0px 0px rgba(255,255,255,0.6);
		/*
	margin-top: 5px;
	margin-left: 5px;
	*/
}
#submitButton {
	position: absolute; 
    width: 79px; 
    height:20px;
    top: 282px; left: 482px;
	line-height:20px;
    text-align:center;
}
#submitButton:hover 
{ 
}

.sit_slider_bar{position:absolute; top: 104px; left: 44px; width: 366px; height: 15px; background-image: url(./image/sliderbar.png);}
.slider_bar{position:absolute; top: 104px; left: 44px; width: 366px; height: 15px; background-image: url(./image/sliderbar.png);}
.sit_slider_button{position:absolute; top: -11px; left: 30px; width: 62px; height: 36px; background-image: url(./image/slider.png);}
.slider_button{position:absolute; top: -11px; left: 30px; width: 62px; height: 36px; background-image: url(./image/slider.png);}
#sit_slider_textMax{position:absolute; top: 126px; left: 398px; width: 60px; height: 34px;}
#sit_slider_textMin{position:absolute; top: 126px; left: 29px; width: 60px; height: 34px;}



#min_window_amount {
	position: absolute;
	color: white;
	font-size: 18px;
	top: -3px;
	left: -45px;
}
#max_window_amount {
	position: absolute;
	color: white;
	font-size: 18px;
	top: -3px;
	right: -45px;
}

