
body {
	
}

.view {
	height: 640px;
	width: 960px;
	position: absolute;
	left: 50px;
}

.background {
	height: 640px;
	width: 960px;
	position: absolute;
	background-image: url(./image/bj.png);
}

#gametable {
	height: 445px;
	width: 939px;
	position: absolute;
	background-image: url(./image/leathertable.png);
	top: 82px;
	left: 26px;
}

/* two cards in hand for 'me' */
#backpng1 {
	/*background-image: url(./pokers/back.png);*/
	width: 0px;
	height: 0px;
	top: 120px;
	left: 450px;
	position: absolute;
}
#backpng2 {
	/*background-image: url(./pokers/back.png);*/
	width: 0px;
	height: 0px;
	top: 120px;
	left: 450px;
	position: absolute;
}
#cards_in_hand1 {
	width: 70px;
	top: 360px;
	left: 512px;
	position: absolute;
	display: none;
}
#cards_in_hand2 {
	width: 70px;
	top: 360px;
	left: 540px;
	position: absolute;
	display: none;
}/*end*/

/* shadow cards for other players */
#back {
	width: 0px;
	height: 0px;
	top: 120px;
	left: 450px;
	position: absolute;
}
.backcard {
	position: absolute;
	width: 0px;
	height: 0px;
}/* end */


/*  five cards for table*/
.round {
	top: 160px;
	position: absolute;
	display: none;
}
#card0 {

	left: 260px;
}
#card1 {

	left: 340px;
}
#card2 {

	left: 420px;
}
#card3 {

	left: 500px;
}
#card4 {

	left: 580px;
}/*end*/


