
body {
	
}

.view {
	height: 640px;
	width: 960px;
	position: absolute;
	left: 50px;
}

.background {
	height: 640px;
	width: 960px;
	position: absolute;
	background-image: url(./image/bj.png);
}

#gametable {
	height: 445px;
	width: 939px;
	position: absolute;
	background-image: url(./image/leathertable.png);
	top: 70px;
	left: 10px;
}

/* seat */
.seat {
	height: 149px;
	width: 135px;
	position: absolute;
	-moz-transition: all 1s; 
	-webkit-transition: all 1s;  
	-ms-transition: all 1s;  
	-o-transition: all 1s;  
	transition-timing-function: ease-out;
	transition: all 1s;  
	background-image: url(./image/seat.png);
}
#seat4 {
	top: -45px;
	left: 195px;
}
#seat3 {
	top: -45px;
	left: 400px;
}
#seat2 {
	top: -45px;
	left: 605px;
}
#seat0 {
	top: 325px;
	left: 255px;
}
#seat1 {
	top: 325px;
	left: 555px;
}/* end */

/* player name */
.name {
	font-size: 20px;
	color: white;
	position: absolute;
	top: 70px;
	left: 50px;
}/* end */

/* money for players */
.money {
	font-size: 20px;
	color: white;
	position: absolute;
	top: 100px;
	left: 43px;
}/* end */

/*  countdown */
.countdown {
	height: 10px;
	width: 110px;
	position: absolute;
	top: 10px;
	left: 10px;
	background-image: url(./image/line.png);
}/* end countdown */

/* Top and left are the finally position, original position are reseted in index.js function send_chips() */
.chip {
	position: absolute;
	height: 49px;
	width: 49px;
	display: none;
}
#chip0 {
	top: 320px;
	left: 215px;
	background-image: url(./image/l3.png);
}
#chip4 {
	top: 80px;
	left: 170px;
	background-image: url(./image/l1.png);
}
#chip3 {
	top: 80px;
	left: 380px;
	background-image: url(./image/l2.png);
}
#chip2 {
	top: 80px;
	left: 580px;
	background-image: url(./image/l4.png);
}
#chip1 {
	top: 320px;
	left: 515px;
	background-image: url(./image/l1.png);
}/*end*/
.tstake {
	font-size: 20px;
	color: white;
	position: absolute;
	top: 40px;
	left: 12px;
}

/* two cards in hand for 'me' */
#backpng1 {
	/*background-image: url(./pokers/back.png);*/
	width: 0px;
	height: 0px;
	top: 120px;
	left: 450px;
	position: absolute;
}
#backpng2 {
	/*background-image: url(./pokers/back.png);*/
	width: 0px;
	height: 0px;
	top: 120px;
	left: 450px;
	position: absolute;
}
#cards_in_hand1 {
	top: 360px;
	left: 390px;
	position: absolute;
	display: none;
}
#cards_in_hand2 {
	top: 360px;
	left: 420px;
	position: absolute;
	display: none;
}/*end*/

/* shadow cards for other players */
#back {
	width: 0px;
	height: 0px;
	top: 120px;
	left: 450px;
	position: absolute;
}
.backcard {
	position: absolute;
	width: 0px;
	height: 0px;
}/* end */


/*  five cards for table*/
.round {
	top: 160px;
	position: absolute;
	display: none;
}
#card0 {

	left: 260px;
}
#card1 {

	left: 340px;
}
#card2 {

	left: 420px;
}
#card3 {

	left: 500px;
}
#card4 {

	left: 580px;
}/*end*/


