
body {
	width:960px;
	margin: 0px auto !important;
}
body .ui-page.ui-body-c.ui-page-active{
	position: relative;
	width: 960px;
	left: inherit;
	top: inherit;
}
div{
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

.view {
	height: 640px;
	width: 960px;
	position: absolute;
/*	left: 50px; */
}

.background {
	height: 640px;
	width: 960px;
	position: absolute;
	background-image: url(../user/image/background.png);
}

#gametable {
	height: 445px;
	width: 939px;
	position: absolute;
	/* background-image: url(./image/leathertable.gif);*/
	top: 82px;
	left: 26px;
}

/* two cards in hand for 'me' */
#backpng1 {
	/*background-image: url(./pokers/back.png);*/
	width: 0px;
	height: 0px;
	top: 120px;
	left: 450px;
	position: absolute;
}
#backpng2 {
	/*background-image: url(./pokers/back.png);*/
	width: 0px;
	height: 0px;
	top: 120px;
	left: 450px;
	position: absolute;
}
#cards_in_hand1 {
	width: 70px;
	top: 360px;
	left: 512px;
	position: absolute;
	display: none;
}
#cards_in_hand2 {
	width: 70px;
	top: 360px;
	left: 540px;
	position: absolute;
	display: none;
}/*end*/

/* shadow cards for other players */
#back {
	width: 0px;
	height: 0px;
	top: 120px;
	left: 450px;
	position: absolute;
}
/* end */


/*  five cards for table*/
.round {
	top: 170px;
	position: absolute;
	display: none;
	width:65px;
}
#card0 {

	left: 260px;
}
#card1 {

	left: 340px;
}
#card2 {

	left: 420px;
}
#card3 {

	left: 500px;
}
#card4 {

	left: 580px;
}/*end*/
.potWrapper{
	height: 70px;
	width: 450px;
	position: absolute;
	top: 170px;
	left:265px;
}
.potSpan{
	height:49px;
	width:49px;
}
.potChip{
	height:49px;
	width:49px;
	/* display:block;*/
	vertical-align:middle;
}


/* left1: 342px left2:px*/
#stakeholder {
	height: 70px;
	width: 450px;
	position: absolute;
	top: 170px;
	left:265px;
}

#backBtn {
	top:10px;
	left:10px;
	height:57px;
	width:125px;
	position: absolute;
	color: white;
	font-size: 20px;
	text-align:center;
}
#backBtn img{
	position:absolute;
	top:8px;
	left:40px;
}

#stand  img{
	top:10px;
	-webkit-transform: rotate(90deg) scaleY(1.3) scaleX(0.9);
	-moz-transform: rotate(90deg)  scaleY(1.3) scaleX(0.9);
	-o-transform: rotate(90deg) scaleY(1.3) scaleX(0.9);
	-ms-transform: rotate(90deg )scaleY(1.3) scaleX(0.9); 
	position: relative;
}

#stand {
	top:10px;
	left:831px;
	height:57px;
	width:125px;
	position: absolute;
	text-align: center;
}
.stand1 {
	background-image: url(./image/back_stand1.png);
}

.stand2 {
	background-image: url(./image/back_stand2.png);
}
