
#bigFrame5 {
	display: none;
}
#rightInfo {
	top: 1px;
	left: 300px;
	height: 356px;
	width: 282px;
	position: absolute;
	background-color: #19193B;
}
#por_box {
	background-image: url(./image/portrait_box.png);
	top: 10px;
	left: 10px;
	height: 140px;
	width: 119px;
	position: absolute;
}
#fID{
	top: 44px;
	left: 135px;
	position: absolute;
}
#ffamily {
	top: 84px;
	left: 135px;
	position: absolute;
}
#fpos {
	top: 120px;
	left: 135px;
	position: absolute;
}
#frank {
	top: 160px;
	left: 20px;
	position: absolute;
}
#fpro {
	top: 160px;
	left: 150px;
	position: absolute;
}
#fdelete{
	top: 260px;
	left: -1px;
	width: 145px;
	height: 53px;
	position: absolute;
	background-image: url(./image/fw.png);
	line-height: 45px;
}
#fsend{
	top: 200px;
	left: 140px;
	width: 145px;
	height: 53px;
	position: absolute;
	background-image: url(./image/fw.png);
	line-height: 45px;
}
#fspace {
	top: 200px;
	left: -1px;
	width: 145px;
	height: 53px;
	position: absolute;
	background-image: url(./image/fw.png);
	line-height: 45px;
}
.name {
	position: absolute;
	width: 290px;
	height: 40px;
	line-height: 35px;
	cursor: pointer;
}
.name:hover {
	background-image: url(./image/pitch2.png);

}
#name0 {
	top: 4px;
	left: 4px;
}
#name1 {
	top: 54px;
	left: 4px;
}
#name2 {
	top: 104px;
	left: 4px;
}
#name3 {
	top: 154px;
	left: 4px;
}
#name4 {
	top: 204px;
	left: 4px;
}
#name5 {
	top: 254px;
	left: 4px;
}
#name6 {
	top: 304px;
	left: 4px;
}
#line7 {
	top: 40px;
	width: 300px;
}
#line8 {
	top: 89px;
	width: 300px;
}
#line9 {
	top: 140px;
	width: 300px;
}
#line10 {
	top: 190px;
	width: 300px;
}
#line11 {
	top: 243px;
	width: 300px;
}
#line12 {
	top: 296px;
	width: 300px;
}