/* email*/
#bigFrame2 {
	display: none;
}
#sender {
	top: 30px;
	left: 30px;
	position: absolute;
}
#time {
	top: 30px;
	left: 300px;
	position: absolute;
}
#inputFrame {
	top: 60px;
	left: 20px;
	height: 244px;
	width: 547px;
	position: absolute;
	background-image: url(./image/inputFrame.png);
}
#receiver {
	top: 63px;
	left: 76px;
	position: absolute;
}
#addressee_input {
	top: 60px;
	left: 180px;
	position: absolute;
}
#content {
	top: 20px;
	left: 30px;
	position: absolute;
	text-align: left;
}
#reply {
	top: 300px;
	left: 20px;
	height: 54px;
	width: 124px;
	position: absolute;
	background-image: url(./image/btE.png);
	line-height: 42px;
	cursor: pointer;
}
#replyFrame {
	top: 20px;
	left: 120px;
	height: 388px;
	width: 644px;
	position: absolute;
	display: none;
	background-image: url(./image/comFrame.png);
	z-index: 10;
}
#text1 {
	top: 103px;
	left: 76px;
	height: 171px;
	width: 482px;
	position: absolute;
	text-align: left;
	overflow:auto;
}
#sureButton {
	top: 280px;
	left: 76px;
	height: 54px;
	width: 124px;
	position: absolute;
	background-image: url(./image/btE.png);
	line-height: 42px;
	cursor: pointer;
}
#replay-cancel-btn{
	top: 280px;
	left: 440px;
	height: 54px;
	width: 124px;
	position: absolute;
	background-image: url(./image/btE.png);
	line-height: 42px;
	cursor: pointer;
}
#delete {
	top: 300px;
	left: 450px;
	height: 54px;
	width: 124px;
	position: absolute;
	background-image: url(./image/btE.png);
	line-height: 42px;
}/*end email*/
