
body {
	text-align: center;
}

#grayframe{
    position:absolute;
    width:583px;
    height:493px;
    background-color:black;
    opacity:0.5;
    border-radius:15px;
    border-width:20px;
    left:26px;
    top:82px;
    box-shadow:3px 3px 4px black
}
div{
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}
#background {
	top: 0px;
	left: 0px;
	height: 640px;
	width: 960px;
	position: absolute;
	background-image: url(./image/background.png);
}
#btFrame {
	top: 20px;
	left: 18px;
	width: 596px;
	height: 61px;
	position: absolute;
	background-image: url(./image/btFrame.png);
}
#info {
	top: 0px;
	left: 0px;
	width: 141px;
	height: 48px;
	position: absolute;
	color: white;
	padding-top: 20px;
	font-weight: bolder;
	cursor: pointer;
}
#info:hover {
	background-image: url(./image/left.png);
}
#email {
	top: 0px;
	left: 131px;
	width: 121px;
	height: 48px;
	position: absolute;
	color: white;
	padding-top: 20px;
	font-weight: bolder;
	cursor: pointer;
}
#email:hover {
	background-image: url(./image/middle.png);
}
#market {
	top: 0px;
	left: 244px;
	width: 121px;
	height: 48px;
	position: absolute;
	color: white;
	padding-top: 20px;
	font-weight: bolder;
	cursor: pointer;
}
#market:hover {
	background-image: url(./image/middle.png);
}
#recharge {
	top: 0px;
	left: 131px;
	width: 121px;
	height: 48px;
	position: absolute;
	color: white;
	padding-top: 20px;
	cursor: pointer;
}
#recharge:hover {
	background-image: url(./image/middle.png);	
}
#friend {
	top: 0px;
	left: 465px;
	width: 129px;
	height: 48px;
	position: absolute;	
	color: white;
	padding-top: 20px;
	font-weight: bolder;
	cursor: pointer;
}
#friend:hover {
	background-image: url(./image/right.png);
}


.bigFrame {
	top: 82px;
	left: 25px;
	width: 586px;
	height: 358px;
	position: absolute;
	color: white;
	font-weight: bolder;
}


#smallFrame {
	top: 484px;
	left: 25px;
	width: 586px;
	height: 130px;
	position: absolute;
}
#image1 {
	width: 102px;
	height: 126px;
	top: 6px;
	left: 8px;
	position: absolute;
}


