body { margin: 0 auto; }
body .ui-page.ui-body-c.ui-page-active{
	position:relative;
}
#mail_list_frame{
	position: absolute;
	top: 82px;
	width: 583px;
	left: 25px;
	color: white;
	font-weight: bolder;
	height: 358px;
}
#mail_list_container{
	text-align: left;
	width: 100%;
	height: 330px;
	position: absolute;
}
#mail_list_navigator{
	position: absolute;
	top: 300px;
}
#mail_list{
	height: 100%;
	padding-top: 10px;
	width: 543px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	font-weight: bolder;
	position: absolute;
}
#mail_page_last{
	left: 290px;
	position: absolute;
	width: 60px;
	top: 25px;
	background-color: rgba(210, 200, 130, 0.9);
	border-radius: 5px;
	cursor: pointer;
}

#mail_page_next{
	left: 360px;
	position: absolute;
	width: 60px;
	top: 25px;
	background-color: rgba(210, 200, 130, 0.9);
	border-radius: 5px;
	cursor: pointer;
}

#mail_page{
	float:left;
}
#mail_page_btn{
	float:left;
}
.mail-item{
	height:30px;
}
.mail-border{
	height: 14px;
	width: 543px;
	position: absolute;
	background-image: url(./image/line.png);
}
.mail-item .content{
	padding-left: 10px;
	border-radius:4px;
}
.mail-item .content:hover{
	background-color:rgba(255,255,255,0.5);
}

#mail_page{
	position: absolute;
	left: 440px;
	top: 25px;
}
#mail_page_input{
	width: 30px;
	position: absolute;
}
#mail_page_btn{
	background-color: rgba(122, 144, 60, 0.6);
	width: 40px;
	left: 500px;
	position: absolute;
	top: 26px;
}
/*awardDialog CSS stylesheet*/
.awardDialog {
position:absolute;
background: url(./image/awardBg.png);
width:355px;
height:241px;
left:171px;
top:142px;
z-index:9;
display:none;
}
.awardTitle {
	position: absolute;
	width: 100%;
	top: 15px;
	color: rgba(0, 66, 139, 1);
	height: 60px;
	font-size: 20px;
	font-weight: bold;
}
.awardLight {
position:relative;
background: url(./image/awardLight.png);
width:358px;
height:321px;
left:-4px;
top:-40px;
}
.awardMoney{
position:relative;
background: url(./image/awardMoney.png);
width:222px;
height:207px;
left:56px;
top:65px;
}
/*Setting Nick Dialog CSS*/
.settingNickDialog {
color:#fff;
position:absolute;
width: 644px;
height: 388px;
left:155px;
top:99px;
background: url(./image/settingNickNameBg.png);
display:none;
z-index:10;
}
.dialogTitle {
color:#fff;
font-size:28px;
position:absolute;
left:256px;
top:60px;
}
.nameArea {
position:absolute;
font-size:26px;
left:133px;
top:155px;
width:400px;
height:33px;
}
.nick {
	position : absolute;
	left:11px;
	top: 2px;
}
.name {
	position: absolute;
	left:96px;
	top:1px;
	width: 200px;
	height: 26px;
    background: #fff; 
	font-size:25px;
	border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
    vertical-align:middle;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.genderArea {
position:absolute;
left:133px;
top:223px;
width:400px;
height:35px;
font-size: 26px;
}
.gender {
	position : absolute;
	left:11px;
	top: -2px;
}
.male {
position:absolute;
left:103px;
top:-5px;
width:34px;
height:38px;
background:url(./image/male.png);
}
.female {
position:absolute;
left:198px;
top:-5px;
width:34px;
height:38px;
background:url(./image/female.png);
}
.maleCheck{
position:absolute;
left:153px;
top:3px;
width:27px;
height:27px;
background:url(./image/check.png);
}
.femaleCheck{
position:absolute;
left:252px;
top:3px;
width:27px;
height:27px;
background:url(./image/nocheck.png);
}
.buttonArea {
position:absolute;
left:88px;
top:282px;
font-size:25px;
}
#confirmBtn{
left:2px;
}
#cancelBtn{
left:345px;
}
.button {
	height:29px;
	width:117px;
	top:0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #ffffff;
	padding: 10px 0px;
	text-align:center;
	line-height:29px;
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#42aaff),
		to(#003366));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #003366;
	-moz-box-shadow:
		5px 6px 3px rgba(000,000,000,0.6),
		inset 0px 0px 0px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		5px 6px 3px rgba(000,000,000,0.6),
		inset 0px 0px 0px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
	position: absolute;
	cursor: pointer;
	//width: 168px;
	//height:40px;
	//top:10px;
/*	font-weight: bolder;*/
}
.button:active {
		-moz-box-shadow:
		5px 6px 3px rgba(000,000,000,0.0),
		inset 0px 0px 0px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		5px 6px 3px rgba(000,000,000,0.0),
		inset 0px 0px 0px rgba(255,255,255,0.6);
		/*
	margin-top: 5px;
	margin-left: 5px;
	*/
}
#closeButton {
	top: 59px;
	left: 535px;
	position: absolute;
/*	-moz-box-shadow: 1px 1px 2px -1px #fcf7fc;
	-webkit-box-shadow: 1px 1px 2px -1px #fcf7fc;
	box-shadow: 1px 1px 2px -1px #fcf7fc;*/
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #49bffa), color-stop(1, #0d82bd));
	background:-moz-linear-gradient(center top, #49bffa 5%, #0d82bd 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#49bffa', endColorstr='#0d82bd');
	background-color:#49bffa;
/*	-moz-border-radius:7px;*/
	-webkit-border-radius:7px;
/*	border-radius:7px;
	border:3px solid #e8e3e8;*/
	display:inline-block;
	color:#fffcff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:4px 11px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
}
#closeButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0d82bd), color-stop(1, #49bffa));
	background:-moz-linear-gradient(center top, #0d82bd 5%, #49bffa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d82bd', endColorstr='#49bffa');
	background-color:#0d82bd;
}

