
.background {
	height: 640px;
	width: 960px;
	top:0;
	left:0;
	position:absolute;
	background-size: 100%;
}

.view {
	overflow: hidden;
	height: 640px;
	width: 960px;
}
body{
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
    height:640px;
    width:960px;
    margin:0px auto;
	left:0px;
	overflow:hidden;
    font-family: 'Nunito', sans-serif;
}

.generalBtnActive{
	height:57px;
	width:125px;
	background-image: url(./images/button_active.png);
	font-size: 20px;
    top:5px;
	color: #FFFFFF;
	text-align:center;
    vertical-align:center;
	line-height:240%;
}
.generalBtnActive:active{
	height:57px;
	width:125px;
	background-image: url(./images/button_inactive.png);
}

