body{
    margin:0;
    padding:0;    
}
#container{
    height:640px;
    width:960px;
    margin:20px auto;
    background:url(/img/room.png);
    //opacity:0.3;
    position:relative;
}

#header{
    height:40px;
    text-align:center;
    padding: 13px 20px
}
#header span{
    color:white;
    font-size:13px;
    line-height:40px;
}
#header #backTo{
    background:url(/img/backTo.png);
    height:46px;
    width:78px;
    float:left;
}
#header #backTo:hover{
    background:url(/img/backTohoversuck.png);
}
#header #createroom{
    background:url(/img/createroom.png);
    height:48px;
    width:127px;
    float:right;
}
#header #refresh{
    background:url(/img/createroom.png);
    height:48px;
    width:127px;
    float:right;

}

#room{
    bottom:0;
    position:absolute;
}
#room ul{
    list-style:none;
    width:932px;
    height:62px;
    background:url(/img/framebackground.png);
    position: relative;
    top: 5px;
    margin-left:15px;
    padding:0;
}
#room li{
    float:left;
    height:30px;
    //background:orange;
    width:116px;
    top:17px;
    position:relative;
    margin-left:56px;
    display:inline-block;
   
}
#room li img{
    position: absolute;
}

#room .roomhover{
    left:-33px;
    top:-16px;
    //display: none;
    opacity:0;
    -webkit-transition:opacity 0.4s ease;
    -moz-transition:opacity 0.4s ease;
    -o-transition:opacity 0.4s ease;
    transition:opacity 0.4s ease;
}
#room li.advancedroom .roomhover{
    left:-35px;
}
#room li.competitionroom .roomhover{
    left:-28px;
}   
#room li.familybattleroom .roomhover{
    left:-21px;   
}

#room li.normalroom{
   margin-left:33px ;
}

#room li:hover .roomhover{
    //display: block;
    opacity:1;
    
}


#grid {
    height:457px;
    overflow:hidden;
    position: relative;
    top: 45px;
    width: 936px;
}
#grid ul{
    list-style:none;
    padding: 0;
    margin: 0 0 0 25px;
    width: 930px;
}

#grid li{
    display: block;
    height:30px;
    color:white;
    font-size:18px;
    height: 57px;
    -webkit-transition:background 0.3s ease-out;
    -moz-transition:background 0.3s ease-out;
    -o-transition:background 0.3s ease-out;
    transition:background 0.3s ease-out;
}
#grid li:hover{
    background: #00BF5F;
}
#grid  span{
    display: inline-block;
    text-align:center;
    width:209px;
    line-height:57px;

}
#grid  .roomid{
   
}
#grid .info1{
    margin-left: -14px;
}
#grid .info2{
    margin-left: 38px;
}
#grid .numplaying{
    margin-left: 37px;
}





/*
*
*Setting panel star
*
*/
#setting {
    background:lightblue;
    height:255px;
    width:472px;
}
#setting .barcontainer{
    clear:both;
}
#setting >span{
    display: block;
    text-align:center;

}
#setting .selection{
    position:relative;
    height:40px;
} 
#setting .bar{
    background:grey;
    height:10px;
    position: absolute;
    width:350px;
    left: 44px;
    top: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
#setting .button{
    background:url(/img/slidebar.png);
    display: block;
    height:39px;
    width:61px;
    position: absolute;
    left:40px;
}

#setting .bet1{
    float:left;
}
#setting .bet2{
    float:right;
}

#setting .confirm{
    background:url(/img/confirm.png);
    float:right;
    height:41px;
    width:79px;
    clear:both;
}
#setting .confirm:hover{
    background:url(/img/confirmhoversuck.png);
}


