
#bigFrame5 {
	display: none;
}
#rightInfo {
	
}
#line7 {
	top: 40px;
	width: 300px;
}
#line8 {
	top: 89px;
	width: 300px;
}
#line9 {
	top: 140px;
	width: 300px;
}
#line10 {
	top: 190px;
	width: 300px;
}
#line11 {
	top: 243px;
	width: 300px;
}
#line12 {
	top: 296px;
	width: 300px;
}