/* email*/
#bigFrame2 {
	display: none;
}
#sender {
	top: 30px;
	left: 30px;
	position: absolute;
}
#time {
	top: 30px;
	left: 300px;
	position: absolute;
}
#inputFrame {
	top: 60px;
	left: 20px;
	height: 244px;
	width: 547px;
	position: absolute;
	background-image: url(./image/inputFrame.png);
}
#content {
	top: 20px;
	left: 30px;
	position: absolute;
}
#reply {
	top: 300px;
	left: 20px;
	height: 54px;
	width: 124px;
	position: absolute;
	background-image: url(./image/btE.png);
	line-height: 42px;
}
#delete {
	top: 300px;
	left: 450px;
	height: 54px;
	width: 124px;
	position: absolute;
	background-image: url(./image/btE.png);
	line-height: 42px;
}/*end email*/